asttokens==2.4.1
Bottleneck @ file:///C:/b/abs_f7un855idq/croot/bottleneck_1709069969633/work
colorama==0.4.6
comm==0.2.2
contourpy==1.2.1
cycler==0.12.1
debugpy==1.8.1
decorator==5.1.1
executing==2.0.1
fonttools==4.51.0
ipykernel==6.29.4
ipython==8.23.0
jedi==0.19.1
jupyter_client==8.6.1
jupyter_core==5.7.2
kiwisolver==1.4.5
matplotlib==3.8.4
matplotlib-inline==0.1.6
mkl-fft @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/mkl_fft_1699473528480/work
mkl-random @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/mkl_random_1699473588250/work
mkl-service==2.4.0
mpmath==1.3.0
nest-asyncio==1.6.0
numexpr @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/numexpr_1699503421264/work
numpy==1.26.4
packaging==24.0
pandas==2.2.2
parso==0.8.4
pillow==10.3.0
platformdirs==4.2.0
ply @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/ply_1699473999871/work
prompt-toolkit==3.0.43
psutil==5.9.8
PuLP==2.8.0
pure-eval==0.2.2
Pygments==2.17.2
pyparsing==3.1.2
PyPDF2==3.0.1
PyQt5==5.15.10
PyQt5-sip @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pyqt-split_1699478669290/work/pyqt_sip
python-dateutil==2.9.0.post0
pytube3==9.6.4
pytz==2024.1
pywin32==306
pyzmq==25.1.2
setuptools==69.5.1
sip @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/sip_1699475590677/work
six==1.16.0
stack-data==0.6.3
sympy==1.12
tornado==6.4
traitlets==5.14.2
typing_extensions==4.12.1
tzdata==2024.1
unicodedata2 @ file:///C:/b/abs_b6apldlg7y/croot/unicodedata2_1713212998255/work
wcwidth==0.2.13
wheel==0.43.0
